<div style="text-align:left;margin-left:14px;margin-top:10px;">
  <b>讨论区名称：</b><br />
  <%= f.text_field :name,:class=>'forum_text' -%>
</div>
<div style="text-align:left;margin-left:14px;margin-top:10px;">
  <b>讨论区描述：</b><br />
  <%= f.text_area :description,:class=>'forum_area' -%>
</div>
