body{
	margin:0;
        padding:0;
        background:#fff;
	
}

div#header{
	background:#fff;
        height:auto;
        margin-top:10px;
        text-align:left;
        padding-top: 1px;
}

#container{
	width:802px;
        min-width:760px;
        margin:0 auto;
        padding:0px;
}

#sidemenu{
	font-size:80%;
        float:left;
        width:100px;
        padding:0;
}

#sidemenu ul{
	list-style:none;
        margin-left:0px;
        padding:0;
}

a{color:#b00;}
a:hover{background-color:#F9992B;color:#fff;}

#content{float:left;width:650px;}
th{background-color:#F8F8F8;color:#000;height:20px;font-size:90%;}
tr.odd{background-color:#fff;}
tr.even{background-color:#fff;}

table#users { width:100%;background-color:#E8E8E8}
table#users td{ font-size:80%}


div#error {
    background: #FFF6BF;
    color: #FF5200;
    font-size:80%;
    margin-top:10px;
    width:802px;
    border: 1px solid #FFD324;
}

div#notice {
    background: #FFF6BF;
    color: #FF5200;
    font-size:80%;
    margin-top:10px;
    width:802px;
    border: 1px solid #FFD324;
}
.errors{
    background: #FFF6BF;
    color: #FF5200;
    font-size:80%;
    margin-top:10px;
    width:802px;
    border: 1px solid #FFD324;
}



input.button {
    cursor: pointer;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 3px #AAA;
    -webkit-box-shadow: 1px 1px 3px #AAA;
    box-shadow: 1px 1px 3px #AAA;
    background-color: #CC2A2A;
    border: medium none;
    color: #FFFFF9;
    padding: 3px 9px;
    font-weight: bold;
}

input.button:hover {
    background-color: #F9992B;
}

input.text{
	font: 16px arial;
	height: 1.9em;
	line-height: 1.9em;
	width:282px;
	padding-top: 2px;
}
input.article_text{
	width:500px;
}

.textarea{
	width:282px;
	height:100px;
}
.article_textarea{
	width:646px;
	height:70px;
}
.article_textarea1{
	width:646px;
	height:300px;
}
input.category_text{
	width:555px;
}
input.page_text{
	width:600px;
}
input.forum_text{
	width:283px;
}
.forum_area{
	width:283px;
	height:150px;
}
input.topic_text{
	width:365px;
}
.topic_area{
	width:365px;
	height:200px;
}
.post_area{
	width:365px;
	height:400px;
}
input.entry_text{
	width:555px;
}
.entry_area{
	width:555px;
	height:400px;
}

/*站点头部*/

table#top{ height:auto;width:805px;border:1px solid #c33;margin:0px;}
div#topmenu{ font-size:80%;margin-top:5px;}

/*导航样式*/

div#navigator{ height:24px;width:805px;background-image:url(../images/bg_navigator.jpg);margin-top:6px;line-height:24px}
div#navigator a{color:#fff;text-decoration: none}
div#navigator a:hover{background-color:#F9992B;color:#fff;}
table#navigator{ color:#fff;font-size:80%}

/*登录注册*/

div#login {margin-top:10px;border: 2px solid #CD2A2B;width:320px;margin-left:210px;}
div#usernew {margin-top:10px;border: 2px solid #CD2A2B;width:320px;margin-left:210px;}
div#article_content{margin-top:10px;border: 2px solid #CD2A2B;width:803px;margin-left:0px;}
div#article{margin-top:10px;border: 2px solid #CD2A2B;width:801px;margin-left:0px;}
.login{ color:#000;font-size:80%;width:320px;padding:0px;border-spacing:0px;}
.title{ background-color:#ED4545;color:white;font-size:120%;}
.register{color:#000;font-size:80%;width:320px;padding:0px;border-spacing:0px;}
.article{color:#000;font-size:80%;width:803px;padding:0px;border-spacing:0px;}
div#article_title{width: 788px;margin-left:10px;margin-bottom:10px;font-weight: 600;font-size:130%;}
div#article_title a{color:#CD2A2B;text-decoration: none}
div#article_title a:hover{background-color:#F9992B;color:#fff;text-decoration:underline}
div#article_synopsis{
	margin-left:10px;
	margin-bottom:15px;
	word-wrap: break-word;
	width:780px;
	}
div#article_links{
	margin-left:10px;
	font-size:smaller;
	margin-bottom:10px;
	border-bottom:1px  dashed #CD2A2B;
	margin-right:10px;
}
table#article_bottom{
	font-size:110%;
	width:750px;
}
div#article_content_title{
	width: 780px;
	margin-left:10px;
	margin-bottom:10px;
	margin-top:20px;
	font-weight: 600;
	font-size:150%;
	color:#CD2A2B;
}
div#article_content_links{
	width: 780px;
	margin-left:10px;
	margin-bottom:10px;
	margin-top:10px;
	font-size:80%;
}
div#article_content_body{
	width: 780px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:30px;
	word-wrap: break-word;
}

/*论坛样式*/

table#forums { width:100%;background-color:#E8E8E8}
table#forums td.name  { width:80%;font-size:80%}
table#forums td.topic { width:20%;text-align:center;font-size:80%}

table#topics { width:100%;background-color:#E8E8E8}
table#topics td.name   { width:60%;font-size: 1.2em;}
table#topics td.reply  { width:20%;text-align: center;font-size: 1.2em;}
table#topics td.author { width:20%;text-align: center;font-size: 1.2em;}

table#posts { width:100%;background-color:#E8E8E8;}
table#posts td.author { width:20%;text-align:top; font-size: 1.2em;}
table#posts td.body   { width:80%; font-size: 1.3em;}

.forumname        { font-size: 1.8em; margin-left:10px}
.forumdescription { font-size: 1.5em; padding-top:1em;margin-left:10px }
.topic{font-size:80%}

div#forum_create{
	margin-bottom:10px;
	margin-top:10px;
}
div#create_forum{margin-top:10px;border: 2px solid #CD2A2B;width:320px;margin-left:210px;}
div#create_topic{margin-top:10px;border: 2px solid #CD2A2B;width:400px;margin-left:150px;}
.topic_new{color:#000;font-size:80%;width:400px;padding:0px;border-spacing:0px;}
	
/*页面样式*/
div#create_page{margin-top:10px;border: 2px solid #CD2A2B;width:800px;margin-left:0px;}
.page_index{color:#000;font-size:80%;width:800px;padding:0px;border-spacing:0px;}
table#pages { width:100%;background-color:#E8E8E8}
table#pages td.name  { width:80%;font-size:80%}
table#pages td.operation { width:20%;text-align:center;font-size:80%}

/*用户样式*/
table#roles { width:100%;background-color:#E8E8E8}
table#roles td  { width:50%;font-size:80%}
table#roles th  { width:50%;}

/*资讯样式*/
div#create_article{margin-top:10px;border: 2px solid #CD2A2B;width:682px;margin-left:58px;}
.article_index{color:#000;font-size:80%;width:682px;padding:0px;border-spacing:0px;}

div#create_category{margin-top:10px;border: 2px solid #CD2A2B;width:592px;margin-left:95px;}
.category_index{color:#000;font-size:80%;width:592px;padding:0px;border-spacing:0px;}

/*博客样式*/
