<table width=800>
	<tr>
              <td align="center">
		© 2011 RubyEE.net | <%= link_to '联系我们', :controller => 'pages',
		                                            :action => 'show',
							    :id => '1-欢迎页面'%>
	      </td>
	</tr>
</table>